.reset__parol {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 15px;
     padding-top: 20px;
}

.reset__parol>label {
     color: #222222;
     font-size: 27px;
}

.reset__parol>input {
     width: 300px;
     height: 41px;
     outline: none;
     border: none;
     border: solid 1px #222;
     text-indent: 8px;
     cursor: pointer;
     border-radius: 8px;
}

.reset__parol>input::placeholder {
     color: #222222;
}

.reset__parol>button {
     width: 300px;
     height: 41px;
     background-color: #222222;
     color: white;
     font-size: 22px;
     border: none;
     outline: none;
     border-radius: 8px;

}

.reset__parol>button:hover {
     background-color: black;
}