.basket {
     width: 100%;
     max-width: 800px;
     margin: 0 auto;
     padding: 20px;
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 20px;
     background: linear-gradient(135deg, #f0f4f8, #d9e2ec);
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.basket__item {
     width: 100%;
     display: flex;
     align-items: center;
     gap: 20px;
     padding: 15px;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
     transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.basket__item:hover {
     transform: translateY(-5px);
     box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.basket__image {
     width: 100px;
     max-width: 70px;
     border-radius: 10px;
}

.basket__details {
     flex: 1;
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.basket__info {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.basket__info>p {
     color: #b20124;
     font-weight: 600;
     font-size: 16px;
}

.basket__info>span {
     color: #335515;
     font-weight: 700;
     font-size: 18px;
}

.basket__controls {
     display: flex;
     align-items: center;
     gap: 10px;
}

.basket__controls>button {
     width: 30px;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     border: none;
     background-color: #d07a01;
     color: white;
     font-size: 22px;
     transition: background-color 0.2s ease, transform 0.2s ease;
}

.basket__controls>button:hover {
     background-color: #af6906;
     transform: scale(1.1);
}

.basket__controls>button:active {
     background-color: #874f02;
}

.basket__summary {
     width: 100%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
     background-color: #fff;
     border-radius: 10px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.basket__payment-button {
     height: 40px;
     background-color: #335515;
     color: white;
     padding: 8px 20px;
     border-radius: 8px;
     cursor: pointer;
     border: none;
     font-size: 14px;
     transition: background-color 0.2s ease, transform 0.2s ease;
}

.basket__payment-button:hover {
     background-color: #284111;
     transform: scale(1.05);
}

.basket__payment-button:active {
     background-color: #1f300f;
}

.delete-icon {
     color: #b04348;
     cursor: pointer;
     transition: transform 0.2s ease;
}

.delete-icon:hover {
     transform: scale(1.1);
}