.basket {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 1px;
}
.basket__item {
     width: 100%;
     height: 130px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 2% 4%;
     gap: 11px;
     background-color: rgb(255, 255, 255);
}
.basket__item > img {
     width: 100px;
     max-width: 70px;
}
.basket__info {
     display: flex;
     align-items: end;
     text-align: end;
     justify-content: end;
     flex-direction: column;
     gap: 7px;
}
.basket__info > p {
     color: rgb(178, 1, 36);
          font-weight: 600;
}
.basket__info>span {
     color: #335515;
     font-weight: 700;
}
.basket__payment {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 7px;
}
.basket__plus-minus {
     display: flex;
     align-items: center;
     justify-content:center;
}
.basket__plus-minus > button {
     width: 23px;
     height: 23px;
     display: flex;
     align-items: center;
     justify-content: center;
     border-radius: 50%;
     border: none;
     background-color: #D07A01;
     color: white;
     font-size: 22px;
     transition: .2s ease;
}
.basket__plus-minus>button:hover {
          background-color: #af6906;
}
.basket__plus-minus>button:active {
     background-color: #874f02;
}
.basket__payment-click >button{
   height: 33px;
   background-color: #335515;
   color: white;
padding: 4px 20px; 
border-radius: 8px;
cursor: pointer;
border: none;
font-size: 13px;
     transition: .2s ease;
}
.basket__payment-click>button:hover  {
     background-color: #284111;
}
.basket__payment-click>button:active {
     background-color: #1f300f;
}
